* {
  padding: 0;
  margin: 0;
}
/** 👆 Lets reset all margin and paddings */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/** 👆 Give a nice font */

img {
  width: 100%;
}
/** 👆 Lets make all images to be responsive */

.container {
  display: grid;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  /* height: 100vh; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas: 
  "header header header"
  "banner banner aside "
  "banner banner aside "
  "popular popular aside"
  "trendings trendings trendings";
  gap: 20px;
}
/** 👆 Your initial style of container */

.header {
  grid-area: header;
}

.banner {
  grid-area: banner;
}

.popular {
  grid-area: popular;
  display: flex;
}

.trendings {
  grid-area: trendings;
  display: flex;
  flex-flow: row nowrap;
}

.display-flex {
  display: flex;
  flex-flow: row nowrap;
}

.display-block {
  display: inline-block;
}  

.read-more {
  display: block;
  background-color: #9051A8;
  color: #fff;
  padding: 1rem;
  width: fit-content;
}

aside {
  grid-area: aside;
  background-color: #4A2D6E;
  color: #fff;
  padding: 1rem;
}

article {
  padding: 1rem 0;
}

.title {
  color:#A7982B; 
}

header {
  display: flex;
  flex-flow: row nowrap;
  height: 5vh;
  justify-content: space-between;
}
/* header in flex display */

header nav {
  display: flex;
  align-items: center;
}
/* to align li in the center */

header li {
  display: inline;
  padding: 0.5rem;
} 

header img {
  object-fit: contain;
  width: fit-content;
}
